<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 shadow mb-4">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center" href="#">
      <i class="bi bi-hexagon-fill text-primary fs-3 me-2"></i>
      <span class="fs-4">Korp ERP</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-4">
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/products" routerLinkActive="active">
            <i class="bi bi-box-seam me-1"></i> Produtos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/invoices" routerLinkActive="active">
            <i class="bi bi-receipt me-1"></i> Notas Fiscais
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="bg-light" style="min-height: 100vh;">
  <div class="container pb-5 pt-3">
    <router-outlet></router-outlet>
  </div>
</main>
